<!DOCTYPE html>
<html>
  <head>
    <title>Make My Holiday</title>
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />
    <script src="/bundle.js"></script>
  </head>
  <body>
    <div id="message">Hello All</div>
    <div id="content"></div>
    <script>
      window.extAsyncInit = function() {
        MessengerExtensions.getContext(
          "749657255797506",
          function success(context) {
            document.getElementById("message").innerHTML =
              ">>>>MessengerExtensions.getContext Success: " +
              "viewerId: " +
              context.psid +
              "InstId: <%= instId %>" +
              "packageId: <%= packageId %>" +
              "socketAddress: <%= socketAddress %>" +
              "threadType: " +
              context.thread_type;
            /*window.attachApp({
              viewerId: context.psid ? context.psid : "<%= userId %>",
              instId: "<%= instId %>",
              packageId: "<%= packageId %>",
              socketAddress: "<%= socketAddress %>",
              threadType: context.thread_type
            });*/
          },
          function error(err) {
            /*document.getElementById("message").innerHTML =
              ">>>>MessengerExtensions.getContext Error: " +
              JSON.stringify(err);*/
            window.attachApp();
          }
        );
      };

      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");
    </script>
  </body>
</html>
